<!DOCTYPE html>
<html ng-app="clockApp">
<head>
    <title>Clock App</title>
    <meta charset="utf-8">
    <script src="../angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Clock App</h1>
    <div ng-controller="TimeCtrl">
        Please enter your name: <input ng-model="userName" type="text"></input>
        <p>Hi {{userName}}!!!</p>
        <p>The current time is: {{timeString}}></span></p>
        <button ng-click="updateTime()">Update Time</button>
    </div>
</body>

</html>